@model CodingChallenge.Models.NotificationViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4" style="text-align: center">Notification Form</h1>
    @using (Html.BeginForm("NotificationFormSubmit", "Home"))
    {
        <div class="row g-3">
            <div class="col-md-6">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, htmlAttributes: new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <div style="text-align: center">
                How would you like to be notified?
            </div>
            <div class="col-md-6">
                @Html.CheckBoxFor(model => model.IsEmailSelected)
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, htmlAttributes: new {placeholder = "name@email.com", @class="form-control"})
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.CheckBoxFor(model => model.IsPhoneSelected)
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, htmlAttributes: new {placeholder = "222-333-4444", @class="form-control"})
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Supervisor)
                @Html.TextBoxFor(model => model.Supervisor, htmlAttributes: new {placeholder = "TODO - Add, Dropdown", @class="form-control"})
                @* @Html.DropDownListFor(model => model.Supervisors, new SelectList(ViewBag.Supervisors, "Key", "Value",
                    htmlAttributes: new {@class="form-control"})) *@
                @Html.ValidationMessageFor(model => model.Supervisor, "", new { @class = "text-danger" })
            </div>
            <p style="text-align: center">
                <input type="submit" value="Submit" id="submitButton" style="width:100px;text-align: center">
            </p>
        </div>
    }
</div>
